pre {
  font-family: "Helvetica Neue";
  font-size: 1rem;
  line-height: 1.5rem;
  display: block;
  margin: 0 0 1rem;
  white-space: pre-wrap;
  -webkit-line-clamp: 30; /* number of lines to show */
}