[mysqld]
character_set_server = utf8mb4
default-storage-engine = InnoDB
innodb_buffer_pool_size = 1G
collation-server = utf8mb4_unicode_ci
max_allowed_packet = 64M
default_time_zone = '+00:00'
datadir=/var/lib/mysql/app_users

